* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(14, 174, 14);
    line-height: 15vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 0px 2px 3px red;
}

section {
    height: 85vh;
    background-color: rgb(100 200 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamesec {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: 0px 5px 10px black;
    ;
    height: 55vh;
    background-color: #2b9e29;
}

input {
    border-radius: 5px;
    height: 2rem;
    width: 18rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-style: none;
    display: none;

}

h3 {
    line-height: 2rem;
}

button {
    width: 9rem;
    border-radius: 5px;
    font-size: 1rem;
    height: 2rem;
    cursor: pointer;
    border-style: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;

}

.btn:hover,
.btn:active,
.btn:focus {
    width: 12rem;
    font-size: 1.3rem;
    padding: 0px 7px;
}

@media only screen and (max-width: 485px) {
    input {
        width: 10rem;
    }

    .btn:hover,.btn:active,.btn:focus {
        width: 8rem;
    }
    .btn{
        width: 7rem;
    }
    h3{
        font-size: 1rem;
    }
}